@model IEnumerable<Cinema>

@*Define ViewData*@
@{
    ViewData["Title"] = "List of Cinemas";
}

@*Display/WriteCode*@

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr class="text-center">
                    <th>@Html.DisplayNameFor(model => model.Logo)</th>
                    <th style="width:150px">@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.Logo" alt="@item.Name" style="max-width:150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem=>item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem=>item.Description)
                        </td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-outline-primary btn-sm m-2 "><i class="bi bi-pencil-square"></i>Edit</a>
                                <a class="btn btn-outline-info btn-sm m-2"><i class="bi bi-eye"></i>Details</a>
                                <a class="btn btn-danger btn-sm text-white"><i class="bi bi-trash"></i>Delete</a>
                            </div>
                        </td>



                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>